<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <style>
        .link {
            background: #6c28d7;
            color: white !important;
            text-align: center;
            padding: 10px 30px;
            text-decoration: none;
            font-size: 16px;
            border-radius: 4px;
            display: inline-block;
        }

        .link:hover {
            background-position: right center;
        }
    </style>
</head>
<body>
<p>Здравствуйте, <%= fullName %>,</p>
<p>Вы запросили восстановление пароля на <%= origin_client %>.</p>
<p>
    Пожалуйста, перейдите по ссылке ниже, чтобы изменить свой пароль.
</p>
<a
        target="_blank"
        href="<%= verifyLink %>"
        class="link"
        style="transition: all ease 0.5s"
>Восстановить пароль
</a>
</body>
</html>
